<%- include ('partials/NADRAheader') %>

<!-- <div class="container bg-white">
  <h2>Entities List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>CNIC</th>
        <th>Contact</th>
        <th>Status</th>
        <th>Hash</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%for(var i=1;i<data.length;i++){%>
      <tr>
        <td><%=i%></td>
        <td><%=data[i].data.Name%></td>
        <td><%=data[i].data.CNIC%></td>
        <td>03047877535</td>
        <td><%=data[i].blockStatus%></td>
        <td><%=data[i].hash%></td>
        <td><a href="#">Edit</a></td>
      </tr>
      <%}%>

      
    </tbody>
  </table>
</div> -->

<div class="container bg-white">
  <h2>Entities List</h2>
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>CNIC</th>
        <th>Contact</th>
        <th>Status</th>
        <th>Hash</th>
      </tr>
    </thead>
    <tbody>
      <%for(var i=start;i<end;i++){%>
      <tr>
        <td><%=i%></td>
        <td><%=data[i].data.Name%></td>
        <td><%=data[i].data.CNIC%></td>
        <!-- <td>03047877535</td> -->
        <td><%=data[i].data.Contact%></td>
        <td><%=data[i].blockStatus%></td>
        <td><%=data[i].hash%></td>
      </tr>
      <%}%>
    </tbody>
    
  </table>
  
</div>
<div class="container">
<% if (totalPages > 0) { %>
    <ul class="pagination ">
        <% if (current == 1) { %>
            <li class="page-item page-link disabled bg-dark"><a>First</a></li>
        <% } else { %>
            <li class="page-item page-link"><a href="/showEntityNADRA/1">First</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>

        <% if (i !== 1) { %>
            <li class="page-item page-link disabled bg-dark"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= totalPages; i++) { %>
            <% if (i == current) { %>
                <li class="page-item page-link active bg-dark"><a><%= i %></a></li>
            <% } else { %>
                <li class="page-item page-link"><a href="/showEntityNADRA/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < totalPages) { %>
                <li class="page-item page-link disabled bg-dark"><a>...</a></li>
            <% } %>
        <% } %>
        <% if (current == totalPages) { %>
            <li class="page-item page-link disabled bg-dark"><a>Last</a></li>
        <% } else { %>
            <li class="page-item page-link"><a href="/showEntityNADRA/<%= totalPages %>">Last</a></li>
        <% } %>
    </ul>
<% } %>
</div>
</div>



<%- include ('partials/footer') %>
